.topGames {
  width: 91vw;
  overflow-x: auto;
  scrollbar-width: none;
  display: flex;
}
.lobodyGame {
  margin-left: 2rem;
  margin-right: 2rem;
}
.lobbyCardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
