.modelBox {
  height: 100vh !important;
  position: relative;
}
.progressbar {
  position: absolute !important;
  top: 4rem !important;
  left: 0 !important;
  width: 100vw !important;
  height: 2px !important;
}
.miniCard {
  position: absolute;
  top: 40%;
  top: 300;
  left: 10%;
  left: 100;
}
