.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 50vw;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 70vh;
  line-height: 70vh;
  color: white;
}
.image {
  position: relative;
  margin-left: 4rem;
  margin-right: 4rem;
  width: 90vw;
  height: 70vh;
}
.lobbyHearder {
  position: absolute;
  top: 30vh;
  left: 10vw;
  z-index: 10;
  width: 400px;
  height: 100px;
}
.colr {
  color: rgb(206, 205, 202);
}
