.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 50vw;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 70vh;
  line-height: 70vh;
  color: white;
  /* background: url("images/home/10306.jpg") no-repeat fixed center, linear-gradient(#eb01a5, #d13531); */
}
.image {
  position: relative;
  width: 100vw;
  height: 70vh;
}
