.navlinks {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: var(--padding-1);
  padding: var(--padding-1);
  font-size: large;
  list-style: none;
}

@media (max-width: 40em) {
  .navlinks {
    display: flex;
    flex-flow: column;
  }
}
