.navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  height: 4rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: start;
  list-style: none;
  padding: var(--padding-1);
  background-color: var(--transparent);
}
.logo {
  width: 150px;
  height: 150px;
}

@media (max-width: 40em) {
  .links {
    display: none;
  }
}
