.inventoryContainer {
  width: 100vw;
  height: 100vh;
  padding-top: 8rem;
  padding-left: 4rem;
  display: flex;
  background: radial-gradient(#1ab1f2, #0c2858);
  overflow-y: scroll;
  scrollbar-width: none;
}
